---
import Card from '../Card.astro'
import { Button } from '../ui/button'

import { contentfulClient } from '../../lib/contentful'
const entries = await contentfulClient.getEntries({
  limit: 50,
})

const blogsData = entries.items
const blogs = blogsData.sort((a, b) => {
  const dateA: any = new Date(a.fields.date)
  const dateB: any = new Date(b.fields.date)
  return dateB - dateA
})
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="Blogs">
  <div class="mt-2 space-y-4">
    {
      blogs.slice(0, 5).map((blog) => (
        <div>
          <a class="text-primary" href={blog?.fields?.url ?? ''}>
            <h3 class="text-md">{blog?.fields?.title}</h3>
          </a>
        </div>
      ))
    }
    <a href="/blogs">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
