---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'

const social = (link, name) => {
  return `<a href=${link} target="_blank" class="text-primary">${name}</a>`
}
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        Let's start working together!
      </h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">Contact Details</h2>
      <p><a href={LINKS.mail} target="_blank">{LINKS.email}</a></p>
      <p>🇮🇳 INDIA 🇮🇳</p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="font-bold text-gray-500">Socials</h2>
      <ul>
        <li set:html={social(LINKS.twitter, 'Twitter')} />
        <li set:html={social(LINKS.github, 'Github')} />
        <li set:html={social(LINKS.linkedin, 'Linkedin')} />
        <li set:html={social(LINKS.medium, 'Medium')} />
      </ul>
    </div>
  </div>
</Card>
