---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { PROFESSIONAL_PROJECTS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Projects">
  <div class="mt-2 space-y-4">
    {
      PROFESSIONAL_PROJECTS.slice(0, 5).map((projects) => (
        <div>
          <h3 class="text-lg font-semibold">{projects.name}</h3>
        </div>
      ))
    }
    <a href="/portfolio">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
