<div ng-controller="HomeCtrl">
    <div class="jumbotron text-center">
        <h3>Contact Me</h3>
    </div>

    
    <div class="card bg-dark">
        <div class="card-body">
            <div><b>Phone:</b> {{ record.phone }}</div>
            <div><b>Email:</b> {{ record.email }}</div>
            <div><b>Github:</b> {{ record.github }}</div>
            <div><b>Linkedin:</b> {{ record.linkedin }}</div>
            <div><b>Twitter:</b> {{ record.twitter }}</div>
            <div><b>Facebook:</b> {{ record.facebook }}</div>
        </div>
    </div>
        
</div>