<div ng-controller="SkillsCtrl">
    <div class="jumbotron text-center">
        <h3>Skills </h3>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6" ng-repeat="record in records">
            <div class="card bg-dark">
                <div class="card-body">
                    <h4>{{ record.title }}</h4>
                    <p><b>Self Rating:</b> <span class="rating" ng-repeat="x in [].constructor(record.rating) track by $index">★</span><span ng-repeat="x in [].constructor(10 - record.rating) track by $index">☆</span> ({{ record.rating }}/10)</p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>